*{
    margin: 0;padding: 0;box-sizing: border-box;
}


label{
    width: 80px;
}

.flex-box{
    display: flex;
    justify-content: center;
    margin: 10px;
}

.text_align{
    text-align: center;
}

.table{
    margin: auto;
    min-width: 80vw;
    text-align: center;
}

th{
    background-color: rgb(24, 24, 24);
    color: white;
    padding: 5px;
}

tr:nth-child(odd){
    background-color: rgb(230, 230, 230);
}
tr:nth-child(even){
    background-color: rgb(184, 184, 184);
}

tr:hover{
    opacity: 0.8;
}

.btn{
    background-color: rgb(0, 102, 255);
    color: white;
    padding: 10px;
    border-radius: 10px;
    border: none;
    cursor : pointer;
    margin: 5px auto;
    text-transform: uppercase;
}

.btn:hover{
    opacity: 0.6;
}

#add{
    background-color: rgb(88, 196, 0);
}

#clear{
    background-color: rgb(255, 0, 0);
}

input[type=text],textarea{
    width: 70%;
    padding: 5px 20px;
}